<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="hibernate-configuration"
             type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
  </configSections>
  <connectionStrings>
    <add name="MsSql"
         connectionString="Server=.\SQLExpress;Database=FluentDMLTests;Integrated Security=SSPI"/>
    <add name="SQLite"
         connectionString="Data Source=:memory:;Version=3;New=True;"/>
  </connectionStrings>
  <hibernate-configuration
    xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>

      <property name="proxyfactory.factory_class">
        NHibernate.ByteCode.Castle.ProxyFactoryFactory,
        NHibernate.ByteCode.Castle
      </property>

      <property name="dialect">
        NHibernate.Dialect.MsSql2008Dialect,
        NHibernate
      </property>

      <property name="connection.connection_string_name">
        db
      </property>

      <property name="adonet.batch_size">
        100
      </property>

      <mapping assembly="FluentDML.Tests"/>

    </session-factory>
  </hibernate-configuration>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>
</configuration>